# General
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
*.pyd
*.pyo
*.pyc
*.pyz
*.pywz
*.pyw
*.bat
*.rej
*.bak
*.orig
*.swp
*.~lock.*
*~
*.log
*.env
.venv
# PyCharm specific files and folders
.idea/
*.iml
*.iws
*.ipr
*.pycharm_helpers/
*.pycharm_circular_deps/
*.pycharm_misc/
*.pycharm_workspace/
*.egg-info/
*.idea/workspace.xml
*.idea/tasks.xml
*.idea/dictionaries/
*.idea/vcs.xml
*.idea/jsLibraryMappings.xml
*.idea/.name
*.idea/compiler.xml
*.idea/runConfigurations/
*.idea/uiDesigner.xml
*.idea/encodings.xml
*.idea/modules.xml
*.idea/assetWizardSettings.xml
*.idea/httpRequests/
*.idea/navMenu.xml
*.idea/editor.xml
*.idea/copyright/
*.idea/datasources/
*.idea/dataSources.ids
*.idea/dataSources.xml
*.idea/jsTestDriver.xml
*.idea/mongoSettings.xml
*.idea/referenceInfos
*.idea/watcherTasks.xml
*.idea/shelf/
*.idea/jsLibraryMappings.xml
*.idea/caches/
*.idea/inspectionProfiles/
*.idea/django_templates.xml
*.idea/workspace.xdg.xml
.idea/
.github/workflows/*tests.py
