name: Handle degraded rule result

on:
  workflow_dispatch:
    inputs:
      rule_result_id:
        description: "The rule result entity identifier"
        required: true
        type: string
      rule_id:
        description: "The rule entity identifier"
        required: true
        type: string
      service_id:
        description: "The service entity identifier that failed the rule"
        required: true
        type: string
      run_id:
        description: "Port action run ID"
        required: true
        type: string

jobs:
  print_inputs:
    runs-on: ubuntu-latest
    steps:
      - name: Log message to Port run
        uses: port-labs/port-github-action@v1
        with:
          clientId: ${{ secrets.PORT_CLIENT_ID }}
          clientSecret: ${{ secrets.PORT_CLIENT_SECRET }}
          baseUrl: https://api.us.getport.io
          operation: PATCH_RUN
          runId: ${{ inputs.run_id }}
          logMessage: "Starting scorecard failure handling for rule result: ${{ inputs.rule_result_id }}"
